.cart{
  margin-top: 100px;
}

.cart-items-title{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: white;
  font-size: max(1vw,12px);
}

.cart-items-item{
  margin: 10px 0px;
  color: orange;
}

.cart-items-item img{
  width: 50px;
}

.cart hr{
  height: 1px;
  background-color: gray;
  border: none;
}

.cart-items-item .cross{
  cursor: pointer;
}

.cart-bottom{
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw,20px);
}

.cart-total{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details{
  display: flex;
  justify-content: space-between;
  color: orange;
}

.cart-total hr{
  margin: 10px 0px;
}

.cart-total button{
  border: none;
  color: black;
  background-color: orange;
  width: max(15vw,200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}